:host {
  display: block;
  border-bottom: 1px solid gray;

  > div {
    padding: 8px 32px;
    background-color: inherit;
  }
}

mat-table {
  width: 2000px;
  background-color: inherit;
}

mat-row, mat-header-row, mat-cell, mat-header-cell {
  font-weight: 300;
  border: none;
  color: darkblue;
}
