<mat-table multiTemplateDataRows [dataSource]="rowsSvc.rows" [trackBy]="rowsSvc.firstColumn">
  <ng-container matColumnDef="0">
    <mat-header-cell *matHeaderCellDef>
      <button mat-stroked-button (click)="rowsStateSvc.toggleAll()">All</button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="rowsStateSvc.toggle(row)">
        <mat-icon>
          {{ rowsStateSvc.expanded.has(row) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container
    *ngFor="let colKey of rowsSvc.cols.slice(1)"
    [matColumnDef]="colKey"
  >
    <mat-header-cell mat-header-cell *matHeaderCellDef>
      <span>
        {{ colKey === "1" ? "ID" : "Region " + (+colKey - 1) }}
      </span>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span>
        {{
          colKey === "1" ? row[colKey] * row[colKey] * row[colKey] : row[colKey]
        }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="rowsSvc.cols; sticky: true"
  ></mat-header-row>
  <ng-container *matRowDef="let row; columns: rowsSvc.cols">
    <mat-row class="normal-row"></mat-row>
    <app-details class="mat-row cdk-row" [row]="row"></app-details>
  </ng-container>
</mat-table>
