<h1>See Also</h1>

<ul>

  <li>
    <a href="https://diprokon.github.io/ng-table-virtual-scroll">
      "Virtual Scroll for Angular Material Table"
    </a>
    <ul>
      <li>
        <a href="https://www.npmjs.com/package/ng-table-virtual-scroll">
          An npm library
        </a>
      </li>
      <li>Has been around a while (~ 2 years)</li>
      <li>An Angular Directive, which allow to use virtual scrolling in mat-table</li>
      <li>~5,000 downloads/week (as of June 2021)</li>
      <li>Only fixed row size is supported</li>
    </ul>
  </li>

  <hr />

  <h3>
    I cannot vouch for the quality of the links below as I have not
    personally built an app with them:
  </h3>

  <li>
    <a href="https://github.com/angular/components/issues/10122">
      The virtual-scrolling ticket in the Angular Material issue tracker
    </a>
    <ul>
      <li>Created in Feb 2018</li>
      <li>Still open for MatTable as of June 2021</li>
    </ul>
  </li>

  <li>
    <a href="https://shlomiassaf.github.io/ngrid/">
      nGrid, a data table library on top of MatTable
    </a>
    <ul>
      <li>From MatTable issue tracker</li>
      <li>Lots of features</li>
      <li>Appears to be by one developer, Shlomi Assaf</li>
      <li>Around ~400-500 downloads/week (as of June 2021)</li>
      <li>Was in alpha/RC status until ~1 year ago when v2 was published</li>
      <li>Supports rows with differing height</li>
      <li>Supports sticky rows or columns inside or outside the scrollable area</li>
    </ul>
  </li>

  <li>
    <a href="https://stackblitz.com/edit/virtual-scroll-cdk-table-test">
      User garrettld's virtual scrolling MatTable
    </a>
    <ul>
      <li>From MatTable issue tracker</li>
      <li>With sticky rows</li>
      <li>Assumes each item renders one row = incompatible with multiTemplateDataRows</li>
    </ul>
  </li>

  <li>
    <a href="https://github.com/angular/components/issues/10122#issuecomment-440432580">
      User nahgrin's virtual scrolling MatTable
    </a>
    <ul>
      <li>From MatTable issue tracker</li>
      <li>Relies on a simplified FixedSizeVirtualScrollStrategy = incompatible with AutoSizeVirtualScrollStrategy</li>
    </ul>
  </li>

</ul>
