mat-toolbar {
  display: flex;
  justify-content: center;
  font-weight: normal;
}

.current-route {
  font-weight: bold;
  border: 1px solid black;
}

a {
  padding: 0 20px;
  text-decoration: none;
}
