<!-- A table just for the headers: -->
<mat-table multiTemplateDataRows [dataSource]="[]">
  <ng-container matColumnDef="0">
    <mat-header-cell *matHeaderCellDef>
      <button mat-stroked-button (click)="toggleAll()">All</button>
    </mat-header-cell>
  </ng-container>

  <ng-container
    *ngFor="let colKey of rowsSvc.cols.slice(1)"
    [matColumnDef]="colKey"
  >
    <mat-header-cell mat-header-cell *matHeaderCellDef>
      <span>
        {{ colKey === "1" ? "ID" : "Region " + (+colKey - 1) }}
      </span>
    </mat-header-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="rowsSvc.cols"></mat-header-row>
</mat-table>

<!--
  Make a new table for each row so that *cdkVirtualFor can be used for automatic
  virtual scrolling.

  Virtual scrolling puts only the visible rows in the DOM, plus several more
  rows for buffer based on min/maxBufferPx.

  If virtual scrolling is glitchy, try increasing minBufferPx and maxBufferPx,
  where maxBufferPx > minBufferPx, although doing so will make the UI slower.

  The "autosize" directive allows each row to be a different height. It has not
  yet been promoted into CDK, so it requires the "cdk-experimental" package.

  Side Note: The 3rd party "ng-table-virtual-scroll" lib that adds virtual
  scrolling to mat-table does not work for this use case because it requires
  fixed row height, which is impossible here without elaborate hacks due to the
  nested mat-table.
-->
<cdk-virtual-scroll-viewport
  autosize
  minBufferPx="125"
  maxBufferPx="250"
  *ngIf="show | async"
>
  <mat-table
    *cdkVirtualFor="let row of rowsSvc.rows; trackBy: rowsSvc.firstColumn; even as even"
    multiTemplateDataRows
    [dataSource]="[row]"
    [class.stripe]="even"
  >
    <ng-container matColumnDef="0">
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="rowsStateSvc.toggle(row)">
          <mat-icon>
            {{
              rowsStateSvc.expanded.has(row) ? "expand_more" : "chevron_right"
            }}
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container
      *ngFor="let colKey of rowsSvc.cols.slice(1)"
      [matColumnDef]="colKey"
    >
      <mat-cell *matCellDef="let row">
        <span>
          {{
            colKey === "1"
              ? row[colKey] * row[colKey] * row[colKey]
              : row[colKey]
          }}
        </span>
      </mat-cell>
    </ng-container>

    <ng-container *matRowDef="let row; columns: rowsSvc.cols">
      <mat-row class="normal-row"></mat-row>
      <app-details class="mat-row cdk-row" [row]="row"></app-details>
    </ng-container>
  </mat-table>
</cdk-virtual-scroll-viewport>
