/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 0 1fr;
  justify-items: center;
  box-sizing: border-box;

  > :last-child {
    width: 100vw;
    height: 100%;
    display: block;
    overflow: auto;
    outline: 1px solid lightgray;
  }
}

table {
  width: 100vw;
}
